# Jupyter notebook
.ipynb_checkpoints
*.ipynb

# PyInstaller folders and distribution files
build
dist
*.ps1
*.bat
*.command
*.zip

# Diagrams
*.drawio

# Misc folders and files
__pycache__
*.pdf

# Pickle files
*.p

